<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <h3>Modify Customer <a th:href="@{/}">Back to customer list</a></h3>
        </div>
        <div class="card-body">
            <form th:action="@{/customer/update}" th:object="${customer}" method="post" novalidate="novalidate">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3 row">
                    <label for="name" class="col-form-label col-md-2">Name</label>
                    <div class="col-md-10">
                        <input type="text" name="name" id="name" th:field="*{name}" class="form-control">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="email" class="col-form-label col-md-2">Email</label>
                    <div class="col-md-10">
                        <input type="text" name="email" id="email" th:field="*{email}" class="form-control">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="address" class="col-form-label col-md-2">Address</label>
                    <div class="col-md-10">
                        <input type="text" name="address" id="address" th:field="*{address}" class="form-control">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-md-10 offset-2">
                        <button type="submit" class="btn btn-primary">Modify</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>